
body{
	font:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif
	font-size:11px;	
	background:url('img/fondo-pdf.png') no-repeat;
	background-image-resolution:300dpi;
	background-image-resize:6;
	}
.contenido table{
	{border-collapse:collapse;
	border-spacing:0; border:1;
	}
.contenido table tr{border:1px solid;}
.contenido table tr td{border:1px solid;}

.num_correspondencia{
	text-align:right;
	font-weight:bold;
	}

table {
	margin-top:30px;}

.bold{
	font-weight:bold;}

.contenido{
	/*padding-bottom:100px;*/
	}

.firma {
	margin-top:50px;
text-align:center;

}

