* {
margin: 0px;
padding: 0px;
/*font-size:12px;*/
font-family:Verdana, Geneva, sans-serif;
}
#agrupar section#seccion
{
	min-height:500px;
}

header h1 {
/*font: bold 20px verdana, sans-serif;
text-align:center;*/


    background: none repeat scroll 0 0 #F3F3F3;
    border-radius: 5px;
    color: #FF4444;
    display: block;
    font-family: sans-serif;
    font-size: 20px;
    padding: 5px;
    text-shadow: 1px 1px 1px #CCCCCC;
    text-align: center;

}
h2 {
font: bold 14px verdana, sans-serif;
}

header, section, footer, aside, nav, article, figure, figcaption,
hgroup{
display: block;
}
body {
/*text-align: center;*/
background:url(../img/body-bgnd.jpg) bottom fixed repeat-x #F0F0F0;
font-size: 12px;
}

#agrupar {
border-radius:5px;
background:#FFF;
width: 1200px;
margin: 15px auto;
text-align: left;
}



#pie{
text-align: center;
padding: 5px;
border-top:1px dotted #999;
color:#696969;
font-size:10px;

}

#cabecera img{
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}


<!--inicio menu-->
#menu{
	background:#0F0;}
#menu {
	font: normal .8em/1.5em Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 7px 6px 0;
	background: #000000;
	line-height: 85%;
	-moz-border-radius: 2em;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
	font-size: 10px;
}
#menu li {
	margin: 0 5px;
	padding: 0 0 8px;
	float: left;
	position: relative;
	list-style: none;
}


/* main level link */
#menu a {
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	padding:  10px 3px;
	margin: 0;
	-webkit-border-radius: 8px/10px;
	-moz-border-radius:8px/10px;
	border-radius:8px/10px;
	
	text-shadow: 0 1px 1px rgba(0,0,0, .3);
}
#menu a:hover {
	background: #000;
	color: #fff;
	cursor:pointer;
}

/* main level link hover */
#menu .current a, #menu li:hover > a {
	background: #FFFFFF;
	color:#000;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	box-shadow: 0 1px 1px rgba(0,0,0, .2);

	text-shadow: 0 1px 0 rgba(255,255,255, 1);
}

/* sub levels link hover */
#menu ul li:hover a, #menu li:hover li a {
	background: none;
	border: none;
	color: #666;

	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
#menu ul a:hover {
	background:#000000 !important;
	color: #fff !important;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;

	text-shadow: 0 1px 1px rgba(0,0,0, .1);
}

/* dropdown */
#menu li:hover > ul {
	display: block;
}

/* level 2 list */
#menu ul {
	display: none;

	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	background: #FFFFFF;
	border: solid 1px #b4b4b4;

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	box-shadow: 0 1px 3px rgba(0,0,0, .3);
}
#menu ul li {
	float: none;
	margin: 0;
	padding: 0;
}

#menu ul a {
	font-weight: normal;
	text-shadow: 0 1px 0 #fff;
}

/* level 3+ list */
#menu ul ul {
	left: 181px;
	top: -3px;
}

/* rounded corners of first and last link */
#menu ul li:first-child > a {
	-webkit-border-top-left-radius: 9px;
	-moz-border-radius-topleft: 9px;

	-webkit-border-top-right-radius: 9px;
	-moz-border-radius-topright: 9px;
}
#menu ul li:last-child > a {
	-webkit-border-bottom-left-radius: 9px;
	-moz-border-radius-bottomleft: 9px;

	-webkit-border-bottom-right-radius: 9px;
	-moz-border-radius-bottomright: 9px;
}

/* clearfix */
#menu:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

html[xmlns] #menu {
	display: block;
}
 
* html #menu {
	height: 1%;
}

#name_user{
	margin-top: 8px;
	display: inline;
	margin-right: 10px;
	float:right;
	color:#FFF;
	font-weight: bold;
	}
<!--fin menu-->
.s{}
#text_sesion
{
	text-align: center;
margin-top: 20px;
text-align: center;
padding-top: 10px;
font-weight: bold;
font-size: 24px;
color: #111;
text-shadow: 0px 1px 5px #FC6666;
}

#form_login form {
	margin: 0 auto;
	margin-top: 20px;
}

#form_login {
	width: 340px;
	margin:auto;
	margin-top:20px;
	margin-bottom:50px;
	background: #C9C9C9;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	-webkit-animation-name: bounceIn;
	-webkit-animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	-moz-animation-name: bounceIn;
	-moz-animation-fill-mode: both;
	-moz-animation-duration: 1s;
	-moz-animation-iteration-count: 1;
	-moz-animation-timing-function: linear;
	animation-name: bounceIn;
	animation-fill-mode: both;
	animation-duration: 1s;
	animation-iteration-count: 1;
	animation-timing-function: linear;
	-webkit-box-shadow:  0px 9px 12px 0px rgba(110, 37, 50, 0.53);
	-moz-box-shadow:     0px 9px 12px 0px rgba(110, 37, 50, 0.53);
	box-shadow:          0px 9px 12px 0px rgba(110, 37, 50, 0.53);
}



#form_login input[type=name],
input[type=password] {
	color: #777;
	padding-left: 10px;
	margin: 10px;
	margin-top:22px;
	margin-left: 18px;
	width: 290px;
	height: 35px;
	border: 1px solid #c7d0d2;
	border-radius: 2px;
	box-shadow: inset 0 1.5px 3px rgba(190, 190, 190, .4), 0 0 0 5px #F8F5F5;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	transition: all .4s ease;
}

#form_login input[type=name]:focus,
input[type=password]:focus {
	border: 1px solid #999;
}
#form_login input[type=submit]
{
margin: 25px;
width: 290px;
padding: 8px;
background: #E90909;
border-radius: 5px;
cursor: pointer;
border:1px;
color:#F0F8FF;
}

#form_login #lower {
	background: #C9C9C9;
	margin-top: 5px;
	box-shadow: inset 0 1px 1px #fff;
	border-top: 1px solid #ccc;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

div.error
{
color: red;
padding-left: 15px;
padding-top: 5px;
padding-bottom:4px;
font-size:12px;
}

div.exito
{
text-align: center;
padding-bottom: 10px;
font-weight: bold;
font-size:12px;
}
.formulario p
{
color: red;
padding-left: 15px;
padding-top: 5px;
padding-bottom:3px;
font-size:12px;
}

<!--formularios-->

.ss
{
}
/*--- estilos para los ul y li del formulario ---*/
.formulario
{
	width:620px;
	margin:auto;
	padding:10px;
	
}

.formulario ul {
    margin:0px;
    padding:0px;
	list-style: none;

}

.formulario li{

    padding:12px; 
}

.formulario label {

    color: #555555;
    display: inline-block;
    float: left;
    font-size: 13px;
    font-weight: bold;
    margin-top: 3px;
    padding: 3px;
    width: 200px;

}

.formulario .select_min
{
	width: 200px;
}

.formulario select
{
height: 30px;
width: 350px;
padding: 5px 8px;
}




.formulario input[type="text"], .formulario input[type="file"], .formulario input[type="number"]{

    height:20px; 
    width:310px; 
    padding:5px 8px;

}

.formulario textarea {

    padding:8px; 
	resize: none;
    width: 90%;
    height: 80px;

}

.formulario input[type="text"], .formulario input[type="file"], .formulario input[type="number"], .formulario textarea, .formulario select { 

    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
    color: #888;
    font-size: 12px;
    padding-right:30px;
    -moz-transition: padding .25s; 
    -webkit-transition: padding .25s; 
    -o-transition: padding .25s;
    transition: padding .25s;

}

.formulario input[type="text"]:focus, .formulario input[type="number"]:focus {

    background: #fff; 
	border:1px solid #666;
	border-color:#666;
    box-shadow: 0 0 3px #aaa; 
    padding-right:50px;

}

.formulario input[type=submit]
{
width: 80px;
padding: 8px;
background: #E90909;
border-radius: 5px;
cursor: pointer;
border:1px;
color:#F0F8FF;
margin-left: 45%;
}

input[type=button]{

padding: 8px;
background: #E90909;
border-radius: 5px;
cursor: pointer;
border:1px;
color:#F0F8FF;
	}

<!--tablas-->
.table tr:last-child td:first-child {
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px
}

.table tr:last-child td:last-child {
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px
}

.table {
	width:98%;
	background:#ccc;
	border:#999 1px solid;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	font-size:9px;
	text-align:left;
	margin: auto;
margin-bottom: 10px;}
	
.table th {padding:4px 10px;
background: #A0A0A0;}

.table td {
	background:#fff;
	font:Verdana, Geneva, sans-serif;
	font-size:10px;
	padding:4px;}
	
.table tr.even td {background:#eee}

.table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px}
	
.table tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px}
	
.table .td_border_top_left{
	border-top-left-radius:11px;
	}
.table .td_border_top_right{
	border-top-right-radius:10px;
	}

.table_radius tr:last-child td:first-child {
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px
}

.table_radius tr:last-child td:last-child {
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px
}

.table_radius {
	width:90%;
	background:#ccc;
	border:#999 1px solid;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	font-size:12px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	}
	
.table_radius th {padding:4px 10px;
background: #A0A0A0;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
background: -moz-linear-gradient(#8F8D8C, white);
background: -webkit-linear-gradient(#8F8D8C, white);
background: -ms-linear-gradient(#8F8D8C, white);
background: linear-gradient(#8F8D8C, white);

}
.table_radius td {
	background:#fff;
	padding:2px 10px 4px 10px;
	}
	
.table_radius tr.even td {background:#eee}

.table_radius tr:first-child td:first-child {
	-moz-border-top-left-radius:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
	}
	
.table_radius tr:first-child td:last-child {
	-moz-border-top-right-radius:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	}




.table_radius tr:last-child td:first-child {
	-moz-border-bottom-left-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
	}
	
.table_radius tr:last-child td:last-child {
	-moz-border-bottom-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	}
	
	
	
<!-- table correo-->

.table_correo tr:last-child td:first-child {
    -moz-border-radius-bottomleft:10px;
    -webkit-border-bottom-left-radius:10px;
    border-bottom-left-radius:10px
}

.table_correo tr:last-child td:last-child {
    -moz-border-radius-bottomright:10px;
    -webkit-border-bottom-right-radius:10px;
    border-bottom-right-radius:10px
}

.table_correo {
	width:98%;
	background: #F1F1F1;
	border: #F1F1F1 1px solid;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	font-size:11px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 30px;
	}
	
.table_correo th {padding:4px 10px;
background: #A0A0A0;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
background: -moz-linear-gradient(#8F8D8C, white);
background: -webkit-linear-gradient(#8F8D8C, white);
background: -ms-linear-gradient(#8F8D8C, white);
background: linear-gradient(#8F8D8C, white);

}
.table_correo td {
	background:#fff;
	padding:2px 10px 4px 10px;
	}
	
.table_correo tr.even td {background:#eee}

.table_correo tr:first-child td:first-child {
	-moz-border-top-left-radius:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
	}
	
.table_correo tr:first-child td:last-child {
	-moz-border-top-right-radius:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	}




.table_correo tr:last-child td:first-child {
	-moz-border-bottom-left-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
	}
	
.table_correo tr:last-child td:last-child {
	-moz-border-bottom-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	}

<!-- table correo fin-->
.vv{}
.top_diez
{
	text-align: center;
	padding: 10px;
}
.top_diez span
{
	border: solid 1px grey;
	padding: 5px 40px;
	border-radius: 10px /20px;
	background: gainsboro;
}


.izq{
	background: rgb(241, 241, 241);
	text-align: center;
	margin: 10px;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .25);
	height:250px;
}

.der{
		background: rgb(241, 241, 241);
	text-align: center;
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .25);
}
.content_izq_der{
	width: 90%;
	margin: auto;
}
.content_izq_der span{
	font-weight: bold;
	color: grey;
	font-weight: bold;
	text-shadow: 5px 3px 8px #A2A2A2;
}

.content_izq_der ul{
	list-style:none;
}
.content_izq_der ul li{
	padding-bottom:6px;
}
.content_correspondencia{
	background: #FFF;
	padding: 10px;
	/*border-radius: 5px;*/
	box-shadow: 0 0 10px rgba(0, 0, 0, .25);
	width: 21.59cm;
	margin: auto;
	margin-bottom: 10px;
	word-wrap: break-word;
	}

.fixed{
position:fixed;
top:0;
width: 1200px;
}
.margen{margin-top:50px}

    a.tooltip {outline:none;text-decoration:none;border-bottom:dotted 1px blue; cursor:help;}
    a.tooltip strong {line-height:30px;}
    a.tooltip > span 
    {
	    width:200px;
	    padding: 10px 20px;
	    margin-top: 20px;
	    margin-left: -85px;
	    opacity: 0;
	    visibility: hidden;
	    z-index: 10;	   
	    position: absolute;

	    font-family: Arial;
	    font-size: 12px;
	    font-style: normal;  
        	    
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    -o-border-radius: 3px;
	    border-radius: 3px;
	    
	    
        -webkit-box-shadow: 2px 2px 2px #999;
	    -moz-box-shadow: 2px 2px 2px #999;		
	    box-shadow: 2px 2px 2px #999;	    
	    
	    -webkit-transition-property:opacity, margin-top, visibility, margin-left;
	    -webkit-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	    -moz-transition-property:opacity, margin-top, visibility, margin-left;
	    -moz-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -moz-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	    -o-transition-property:opacity, margin-top, visibility, margin-left;
	    -o-transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    -o-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	    transition-property:opacity, margin-top, visibility, margin-left;
	    transition-duration:0.4s, 0.3s, 0.4s, 0.3s;  
	    transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
    }
    
    /*a.tooltip > span:hover,*/
	a:hover.tooltip span
	{
  visibility: visible;
  opacity: 0.8;
  margin-left: -76px;
  z-index: 999;	
	}
	

	a.tooltip span b {
    
		width: 15px;
		height: 15px;
		margin-left: 20px;
		margin-top: -19px;
			
		display: block;
		position: absolute;

		-webkit-transform: rotate(-45deg);
		-moz-transform: rotate(-45deg);
		-o-transform: rotate(-45deg);
		transform: rotate(-45deg);
			
		-webkit-box-shadow: inset -1px 1px 0 #fff;
		-moz-box-shadow: inset 0 1px 0 #fff;
		-o-box-shadow: inset 0 1px 0 #fff;
		box-shadow: inset 0 1px 0 #fff;
			
		display: none\0/;
		*display: none;
	}
    
a.tooltip > span {
	color: #FFFFFF; 

	background: #333333;
	background: -moz-linear-gradient(top, #333333 0%, #999999 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#999999));
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#999999',GradientType=0 );
	    
	border: 1px solid #000000;	     
}    
	  
a.tooltip span b {
	background: #333333;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
} 

<!-- fin tooltip-->

  .ui-autocomplete-loading {
    background: white url("../img/ui-anim_basic_16x16.gif") right center no-repeat;
	
  }